<div *ngIf="isCardOpen" class="pop" (click)="closeCard()">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6">
        <ion-card (click)="stopPropagation($event)">
          <ion-header class="ion-no-border" [translucent]="true">
            <ion-toolbar>
              <ion-title>
                <ion-text>{{ selectedDefaultExercise?.dbExercise?.name }}</ion-text>
              </ion-title>
              <ion-buttons slot="end">
                <ion-button id="close-button" color="dark" fill="clear" (click)="closeCard()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-segment value="default">
            <ion-segment-button value="default" (click)="selectSegment('about')">
              <ion-label>About</ion-label>
            </ion-segment-button>
            <ion-segment-button value="history" (click)="selectSegment('history')">
              <ion-label>History</ion-label>
            </ion-segment-button>
            <ion-segment-button value="records" (click)="selectSegment('records')">
              <ion-label>Records</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-card *ngIf="isSegmentAboutOpen">
            <ion-card-header>
              <ion-card-title>Instructions</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngFor="let instruction of instructions; index as i">
              <ion-text>
                {{i + 1}}- {{instruction}}
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div *ngIf="isCardOpen" class="background-cover"></div>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Exercises</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6" class="ion-no-margin">
        <ion-searchbar [debounce]="200" (ionInput)="handleInput($event)"></ion-searchbar>
        <ion-accordion-group expand="inset" #accordionGroup>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>Filter Body Part</ion-label>
            </ion-item>
            <ion-list *ngFor="let muscleGroupType of muscleGroupTypeEnums" slot="content">
              <ion-item slot="content"
                        (click)="filterByPrimaryMuscle(muscleGroupType)">
                {{muscleGroupType | titlecase}}
              </ion-item>
            </ion-list>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header">
              <ion-label>Filter Equipment</ion-label>
            </ion-item>
            <ion-list *ngFor="let equipmentType of equipmentTypeEnums" slot="content">
              <ion-item slot="content"
                        (click)="filterByEquipmentType(equipmentType)">{{equipmentType | titlecase}}</ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
        <ion-list class="exercises">
          <ion-item (click)="selectCard(defaultExerciseResult)"
                    *ngFor="let defaultExerciseResult of defaultExerciseResults">
            <div slot="start"
                 class="exercise-icon">{{ defaultExerciseResult.name != null ? defaultExerciseResult.name[0].toUpperCase() : null }}</div>
            <ion-label>
              <h2>{{ defaultExerciseResult.name }}</h2>
              <div class="exercise-prop">
                <h3>{{defaultExerciseResult.dbExercise.primaryMuscles | titlecase}}</h3>
                <div>{{defaultExerciseResult.rm1 ? "1RM: " + defaultExerciseResult.rm1 : null}}</div>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
