<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="profile">
          <ion-label>Profile</ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="history">
          <ion-label>History</ion-label>
          <ion-icon name="time"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="start-workout">
          <ion-label>Start Workout</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="exercises">
          <ion-label>Exercises</ion-label>
          <ion-icon name="barbell-outline"></ion-icon>        </ion-tab-button>
        <ion-tab-button tab="measure">
          <ion-label>Measure</ion-label>
          <ion-icon name="podium"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
